/* Resets */

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* End Resets */

/* Variables */

:root {
    --main-bg-color: #e1e1e1;
    --main-dark: #363e46;
    --nav-color: #ffffff;
}
/* End Variables */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 1380px;
    width: 100%;
}

header {
    background-color: var(--main-dark);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    border-top: 1px solid var(--main-dark);
    padding: 15px;
}

main {
    min-height: calc(100vh - 62px - 56px);
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav__link {
    color: var(--nav-color);
    padding: 4px 8px;
    margin: 0 4px;
    text-decoration: none;
}

.active {
    color: #79a2ce;
}